// ===============================================
// Header
// ===============================================
header {
  @include size(100%, 100%);
  min-block-size: 80px;
  margin-block-end: 3rem;
  .xl-navbar {
    @include size(100%, auto);
    min-block-size: 80px;
    position: absolute;
    top: 0;
    background-color: var(--section-bg-color);
    padding-block: 1rem;
    box-shadow: var(--headerBoxShadow);
    z-index: 1000;

    #close-nav {
      display: none;
      cursor: pointer;
    }
    @include media(md) {
      display: block;
      min-block-size: 100vh;
      @include size(100%, 100%);
      transform: translateX(-100%);
      position: fixed;
      overflow-y: scroll;

      #close-nav {
        display: block;
        position: absolute;
        inset-block-start: 2rem;
        inset-inline-end: 2rem;
        font-size: 2rem;
        color: var(--mainColor);
      }

      &.active {
        transform: translateX(0);
      }
    }
  }

  .container {
    @include size(100%, auto);
    @include flex(space-between, center, row);
    z-index: 100;

    .brand {
      @include size(7.5rem, auto);
      @include media(sm) {
        inline-size: 6rem;
      }

      img {
        @include size(100%, 100%);
        object-fit: contain;
      }
    }

    .navbar {
      .nav-list {
        @include flex(center, center, row);
        gap: 2rem;

        .nav-item {
          a {
            @include flex(center, center, column);
            gap: 0.5rem;

            img {
              @include size(1.875rem, 1.875rem);
              @extend .filter-grey;
            }

            p {
              @include font(500, 1rem, var(--grey));
              text-transform: capitalize;
            }
          }
          &:hover,
          &.active {
            a {
              img {
                @extend .filter-main-color;
              }
              p {
                color: var(--mainColor);
              }
            }
          }
        }
      }
    }

    .nav-tail {
      @include flex(center, center, row);
      gap: 1.5rem;

      .icon {
        position: relative;
        img {
          @include size(1.875rem, 1.875rem);
          @extend .filter-grey;
        }
        .badge {
          position: absolute;
          background-color: var(--mainColor);
          @include font(500, 0.8rem, var(--lightGray));
          @include size(1.2rem, 1.2rem);
          @include flex(center, center, row);
          border-radius: 50%;
          inset-inline-end: 0;
          inset-block-start: 0;
          transform: translateX(50%);
        }
      }

      .avatar {
        @include size(2.8rem, 2.8rem);
        border-radius: 50%;
        border: 3px solid var(--mainColor);

        img {
          @include size(100%, 100%);
          object-fit: cover;
        }

        .dropdown-toggle {
          &::after {
            content: none;
          }
        }

        .dropdown-menu {
          inset-block-start: 0.5rem !important;
          min-inline-size: 20rem;
          padding: 0.5rem !important;
          background-color: var(--action-bg-color);

          .user-info {
            @include flex(flex-start, center, row);
            padding-block-end: 0.5rem;
            border-block-end: 1px solid var(--border-color);
            gap: 1rem;

            img {
              @include size(2.8rem, 2.8rem);
              border-radius: 50%;
              border: 3px solid var(--mainColor);
            }

            .info {
              .name {
                @include font(700, 0.9rem, var(--text-color));
              }
              .role {
                @include font(400, 0.75rem, var(--grey));
              }
            }
          }

          .menu-item {
            a {
              @include flex(flex-start, center, row);
              @include font(500, 0.875rem, var(--text-color));
              padding-block: 0.5rem;
              border-block-end: 1px solid var(--border-color);
              gap: 0.5rem;

              img {
                @include size(2rem, 2rem);
                border-radius: 50%;
              }
              span {
                text-transform: capitalize;
              }

              &:hover {
                img {
                  @extend .filter-main-color;
                }
                span {
                  color: var(--mainColor);
                }
              }
            }

            &.logout {
              a {
                border-block-end: none;
                padding-block-end: 0;
                img {
                  @extend .filter-red-300;
                }
                span {
                  text-transform: capitalize;
                  color: var(--error-300);
                }
              }
            }
          }

          .dark-mode,
          .language a {
            @include flex(space-between, center, row);
            padding-block: 0.5rem;

            img {
              @include size(2rem, 2rem);
              border-radius: 50%;
            }
            span {
              @include font(500, 0.875rem, var(--text-color));
            }
          }

          .language {
            .flag {
              img {
                @include size(1.5rem, 1rem);
                border-radius: 0;
                padding-inline-start: 0.2rem;
              }
              span {
                @include font(500, 0.875rem, var(--text-color));
                font-family: "Cairo", sans-serif;
                padding-inline-end: 0.2rem;
                border-inline-end: 1px solid var(--grey);
              }
            }
            &:hover {
              .icon {
                @extend .filter-main-color;
              }
              span {
                text-transform: capitalize;
                color: var(--mainColor);
              }
            }
          }
        }

        .switch {
          position: relative;
          display: inline-block;
          width: 60px;
          height: 34px;
          input {
            opacity: 0;
            width: 0;
            height: 0;
            &:checked + .slider {
              background-color: var(--mainColor);
            }
            &:focus + .slider {
              box-shadow: 0 0 1px var(--mainColor);
            }
            &:checked + .slider {
              &:before {
                -webkit-transform: translateX(26px);
                -ms-transform: translateX(26px);
                transform: translateX(26px);
              }
            }
          }

          .slider {
            position: absolute;
            cursor: pointer;
            inset: 0 0 0 0;
            background-color: #ccc;
            -webkit-transition: 0.4s;
            transition: 0.4s;

            &:before {
              position: absolute;
              content: "";
              height: 26px;
              width: 26px;
              left: 4px;
              bottom: 4px;
              background-color: white;
              -webkit-transition: 0.4s;
              transition: 0.4s;
            }

            &.round {
              border-radius: 34px;
              &:before {
                border-radius: 50%;
              }
            }
          }
        }
      }
    }
  }

  .md-navbar {
    @include size(100%, auto);
    min-block-size: 80px;
    background-color: var(--section-bg-color);
    padding-block: 1rem;
    box-shadow: 0px 4px 26px 0px #c8c8c88c;
    display: none;

    .container {
      @include flex(space-between, center, row);
      @include size(100%, auto);

      #bars {
        font-size: 2rem;
        color: var(--mainColor);
        cursor: pointer;
      }
    }

    @include media(md) {
      display: block;
      @include flex(space-between, center, row);
    }
  }

  @include media(md) {
    position: relative;
    inset-inline-start: 0;
    inset-block-start: 0;

    .container {
      @include flex(flex-start, center, column);
      gap: 2rem;

      .navbar {
        inline-size: 100%;
        order: 1;

        .nav-list {
          @include flex(center, flex-start, column);
          inline-size: 100%;
          gap: 1rem;
          margin-inline: 1rem;

          .nav-item {
            @include size(100%, auto);
            @include flex(flex-start, center, row);

            a {
              padding: 1rem;
              flex-direction: row;
            }

            &:hover,
            &.active {
              background-color: var(--mainColor);
              @include size(100%, auto);
              border-radius: 0.5rem;

              a {
                img {
                  filter: brightness(0) saturate(100%) invert(100%) sepia(10%)
                    saturate(0%) hue-rotate(114deg) brightness(113%)
                    contrast(100%);
                }
                p {
                  color: var(--section-bg-color);
                }
              }
            }
          }
        }
      }
    }
  }
}
