.title {
  @include font(600, 1.2rem, var(--text-color));
  margin-block-end: 1rem;
  text-transform: capitalize;
  @include media(md) {
    font-size: 1rem;
  }
}

.shadow-box {
  background-color: var(--section-bg-color);
  padding: 1rem !important;
  border-radius: 1rem;
  box-shadow: var(--boxShadow);
}

.form-control {
  @include font(400, 1rem, var(--text-color));
  @include size(100%, auto);
  @include none;
  background-color: var(--box-bg-color);
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 1rem;
  &:focus {
    @include font(400, 1rem, var(--text-color));
    background-color: var(--box-bg-color);
    @include none;
    border: 1px solid var(--input-border-color);
  }
  &::placeholder {
    font-size: 1rem;
    @include media(sm) {
      font-size: 0.8rem;
    }
  }
}

.avatar {
  img {
    @include size(2.5rem, 2.5rem);
    object-fit: cover;
  }
}

// ===============================================
// Colors
// ===============================================
.bg-grey-50 {
  background-color: var(--grey-200);
}

.fa-star {
  color: var(--grey-200);
  &.gold {
    color: var(--gold);
  }
}

// ===============================================
// Buttons
// ===============================================
.btn {
  @include size(100%, 2.5rem);
  @include font(500, 1rem, var(--lightGray));
  @include flex(center, center, row);
  @include none;
  border-radius: 0.25rem;
  background-color: var(--mainColor);
  &:focus {
    @include none;
  }
  &:hover {
    color: var(--lightGray);
    background-color: var(--theme-color-hover);
  }
  @include media(sm) {
    font-size: 0.8rem;
  }
}

// ===============================================
// Filters
// ===============================================
.filter-white {
  filter: brightness(0) saturate(100%) invert(100%) sepia(10%) saturate(0%)
    hue-rotate(114deg) brightness(113%) contrast(100%);
}

.filter-grey {
  filter: brightness(0) saturate(100%) invert(99%) sepia(5%) saturate(922%)
    hue-rotate(177deg) brightness(83%) contrast(86%);
}

.filter-main-color {
  filter: brightness(0) saturate(100%) invert(64%) sepia(21%) saturate(3573%)
    hue-rotate(104deg) brightness(94%) contrast(77%);
}

.filter-red-500 {
  filter: brightness(0) saturate(100%) invert(51%) sepia(63%) saturate(4434%)
    hue-rotate(331deg) brightness(104%) contrast(107%);
}

.filter-red-300 {
  filter: brightness(0) saturate(100%) invert(47%) sepia(100%) saturate(1489%)
    hue-rotate(334deg) brightness(98%) contrast(97%);
}
