// Colors
$mainColor: #1dbf73;
$white: #ffffff;
$black: #000000;
$lightGray: #fdfdfd;
$grey: #c3c5c8;
$grey-50: #f6f6f6;
$grey-200: #e6eaef;
$grey-300: #c3c5c8;
$grey-400: #8692a6;
$grey-500: #696f79;
$grey-800: #333333;
$gold: #ffcb31;
$error-300: #f56342;
$primary-100: #e9f9f1;
$boxShadow: 0px 3px 40px -5px #20202012;
$theme-color-hover: #158350;
