:root {
  // Colors
  --mainColor: #1dbf73;
  --white: #ffffff;
  --black: #000000;
  --lightGray: #fdfdfd;
  --grey: #c3c5c8;
  --grey-50: #f6f6f6;
  --grey-200: #e6eaef;
  --grey-300: #c3c5c8;
  --grey-400: #8692a6;
  --grey-500: #696f79;
  --grey-800: #333333;
  --gray-0: #222b3e;
  --gray-10: #29334b;
  --gray-25: #1a2131;
  --gold: #ffcb31;
  --error-300: #f56342;
  --primary-100: #e9f9f1;
  --boxShadow: 0px 3px 40px -5px #20202012;
  --headerBoxShadow: 0px 4px 26px 0px rgba(200, 200, 200, 0.5490196078);
  --theme-color-hover: #158350;

  //   Variables
  --text-color: var(--black);
  --body-bg-color: var(--lightGray);
  --section-bg-color: var(--lightGray);
  --box-bg-color: var(--primary-100);
  --action-bg-color: var(--grey-50);
  --action-bg-color-hover: var(--grey-50);
  --input-bg-color: var(--grey-50);
  --input-border-color: var(--mainColor);
  --sec-text-color: var(--grey-800);
  --border-color: var(--grey-200);
}
