.slider-container {
  .slider-title {
    .sub-title {
      @include font(500, 18px, var(--grey-400));
    }

    .title {
      margin-block: 1rem;
      text-transform: none;
    }

    .rating {
      @include flex(space-between, center, row);
      .stars {
        color: var(--grey-200);
        .gold {
          color: var(--gold);
        }
        span {
          @include font(400, 1rem, var(--grey-500));
        }
      }

      .actions {
        @include flex(space-between, center, row);
        gap: 1rem;
      }
    }
  }

  .slider {
    position: relative;
    .item {
      @include size(100%, 25rem);

      img {
        @include size(100%, 100%);
        border-radius: 0.5rem;
        object-fit: cover;
      }
    }

    .flickity-page-dots {
      bottom: 1rem;

      .flickity-page-dot {
        @include none;
        width: 12px;
        height: 12px;
        opacity: 1;
        background: var(--grey-200);
        &.is-selected {
          background: var(--mainColor);
        }
      }
    }

    .flickity-button {
      background: var(--section-bg-color);

      &.flickity-prev-next-button {
        @include flex(center, center, row);
        @include size(3rem, 3rem);
        border-radius: 50%;
        box-shadow: 0px 3px 3px 1px #2020200d;

        &.next {
          right: 0;
          transform: translate(50%, -50%);
        }
        &.previous {
          left: 0;
          transform: translate(-50%, -50%);
        }
        @include media(sm) {
          @include size(2rem, 2rem);
          .flickity-button-icon {
            @include size(1rem, 1rem);
          }
        }
      }

      .flickity-button-icon {
        position: unset;
        @include size(1.5rem, 1.5rem);
        fill: var(--mainColor);
      }

      &:disabled {
        opacity: 1;
        background-color: rgba(255, 255, 255, 0.3);
        .flickity-button-icon {
          fill: var(--section-bg-color);
        }
      }
    }
  }
}
