.suggested-services {
  .row {
    row-gap: 1.5rem;
    .item {
      position: relative;
      padding: 0 !important;
      user-select: none;

      .like {
        @include size(2rem, 2rem);
        @include flex(center, center, row);
        position: absolute;
        inset-block-start: 1rem;
        inset-inline-start: 1rem;
        background-color: var(--section-bg-color);
        box-shadow: 0px 3px 3px 1px #2020200d;
        border-radius: 50%;
        cursor: pointer;
        &.liked {
          img {
            @extend .filter-red-500;
          }
        }
        img {
          @include size(1.2rem, 1.2rem);
        }
      }

      .item-image {
        @include size(100%, 12rem);
        img {
          border-radius: 1rem 1rem 0 0;
          @include size(100%, 100%);
          object-fit: cover;
        }
      }

      .details {
        padding: 1rem;
        .item-title {
          @include font(600, 1rem, var(--text-color));
          @include lines(2);
          margin-block-end: 0.5rem;
        }
        .icons {
          @include flex(flex-start, center, row);
          margin-block-end: 1rem;
          gap: 1rem;

          .icon {
            .fa-shopping-cart {
              color: var(--grey-400);
            }
            span {
              @include font(600, 0.875rem, var(--grey-400));
            }
          }
        }

        .item-footer {
          @include flex(space-between, center, row);
          .user {
            @include flex(flex-start, center, row);
            gap: 0.5rem;
            .avatar {
              img {
                border-radius: 50%;
                @include size(1.5rem, 1.5rem);
              }
            }
            .name {
              @include font(600, 12px, var(--text-color));
            }
          }

          .price {
            @include font(600, 1rem, var(--text-color));
            @include flex(flex-end, center, row);
            gap: 0.5rem;
          }
        }
      }
    }
  }
}
