.error-page {
  min-block-size: 100vh;
  @include flex(center, center, row);
  inline-size: 100%;
  .container {
    .row {
      @include flex(center, center, column);
      gap: 1rem;
      .number {
        @include font(700, 5rem, black);
      }
      .status {
        @include font(500, 2rem, black);
      }
      .btn {
        inline-size: fit-content;
        margin-block-start: 1.5rem;
        padding-inline: 1rem;
      }
    }
  }
}
